body {
    margin: 0;
}

/*PERSISTENT HEADER STYLING*/
header {
    background-color: #8db785;
    color: #fee7c8;
    height: 8.5em;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
/*Persistent header's children - my name and inspo quote*/
.main-header {
    margin: 3rem; /*places text along the y-axis */
    font-size: 3.5vw;
}

.inspo-quote {
    padding-top: 1em;
    margin: auto;
    text-align: right;
    font-size: 1.75vw;
}

/*Side Navigational Bar*/
.side-nav-list {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
}

.nav-link {
    text-align: center;
    line-height: 3;
}

a:link, a:visited {
    text-decoration: none;
    color: #d66d50;
}

a:hover {
    text-decoration: underline
}

/*PAGE CONTENT*/

/*Page content will be consistently structred to be flexed and centered.*/

.main-home, .main-about, .main-portfolio {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

.main-contact {
    display: flex;
    flex-direction: row;
}

.contact-content, .about-content, .portfolio-content, .home-content {
    flex-grow: .85;
} 
  
/*HOME PAGE STYLING*/

/* adjusts styling for headshot */
.bio-pic {
    width: 30vw;
    padding-top: 20px;
}

.home-text {
    width: 30vw;
    text-align: justify;
    margin: auto;
}

/*ABOUT PAGE STYLING*/

.hobby {
    margin: 20px;
}

#photography {
    background-image: url("/block10/my-personal-site/images/cameras.JPG");
    overflow: hidden;
    width: 600px;
    height: 60px;
    border-radius: 20px;
    object-fit: cover;
    text-align: center;
    margin: auto;
}

#photography:hover {
    background-image: url("/block10/my-personal-site/images/cameras.JPG");
    width: 600px;
    height: 200px;
    text-align: center;
    object-fit: cover;
    transition: all 1s ease-out;
}

#baking {
    background-image: url("/block10/my-personal-site/images/baking.JPG");
    overflow: hidden;
    width: 600px;
    height: 60px;
    border-radius: 20px;
    object-fit: cover;
    text-align: center;
    margin: auto;
}

#baking:hover {
    background-image: url("/block10/my-personal-site/images/baking.JPG");
    width: 600px;
    height: 200px;
    text-align: center;
    object-fit: cover;
    transition: all 1s ease-out;
}

#nature {
    background-image: url("/block10/my-personal-site/images/labagh.jpg");
    overflow: hidden;
    width: 600px;
    height: 60px;
    border-radius: 20px;
    object-fit: cover;
    text-align: center;
    margin: auto;
}

#nature:hover {
    background-image: url("/block10/my-personal-site/images/labagh.jpg");
    width: 600px;
    height: 200px;
    text-align: center;
    object-fit: cover;
    transition: all 1s ease-out;
}

.hobby-text {
    color: #fee7c8;
    font-weight: 400;
    text-align: center;
    text-wrap: wrap;
    width: 60%;
    margin: auto;
    padding: 15px;
    background: #a0806a58;
    
}

.hobby-title {
    color: #fee7c8;
    margin: 0;
    padding: 11px;
    text-shadow: 0px 0px 5px #996d4fb5;
    
}

/*PORTFOLIO STYLING*/

.project {
    margin: 20px;
}

#the-bakery {
    background-color: #d3471056;
    overflow: hidden;
    width: 600px;
    height: 60px;
    border-radius: 20px;
    object-fit: cover;
    text-align: center;
    margin: auto;
}

#the-bakery:hover {
    background-color: #d3471056;
    width: 600px;
    height: 230px;
    text-align: center;
    object-fit: cover;
    transition: all 1s ease-out;
}

#the-grocery-list {
    background-color: #a5c76a67;
    overflow: hidden;
    width: 600px;
    height: 60px;
    border-radius: 20px;
    object-fit: cover;
    text-align: center;
    margin: auto;
}

#the-grocery-list:hover {
    background-color: #a5c76a67;
    width: 600px;
    height: 190px;
    text-align: center;
    object-fit: cover;
    transition: all 1s ease-out;
}

#the-zoo {
    background-color: #e783a956;
    overflow: hidden;
    width: 600px;
    height: 60px;
    border-radius: 20px;
    object-fit: cover;
    text-align: center;
    margin: auto;
}

#the-zoo:hover {
    background-color: #e783a956;
    width: 600px;
    height: 175px;
    text-align: center;
    object-fit: cover;
    transition: all 1s ease-out;
}

.project-title {
    color: #fee7c8;
    margin: 0;
    padding: 11px;
    text-shadow: 0px 0px 5px #996d4fb5; 
}

/*For each project, I gave a distinct styling for each to compliment the different colorschemes*/

.bakery-text {
    color: #fee7c8;
    font-weight: 400;
    text-align: center;
    text-wrap: wrap;
    width: 60%;
    margin: auto;
    padding: 15px;
    background: #c4484858;  
}

.grocery-text {
    color: #fee7c8;
    font-weight: 400;
    text-align: center;
    text-wrap: wrap;
    width: 60%;
    margin: auto;
    padding: 15px;
    background: #578b4c47;  
}

.zoo-text {
    color: #fee7c8;
    font-weight: 400;
    text-align: center;
    text-wrap: wrap;
    width: 60%;
    margin: auto;
    padding: 15px;
    background: #ad397158;  
}

/*CONTACT FORM STYLING*/

form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-width: 500px;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    background-color: #8db785;
    color:#fee7c8;
    font-weight: bold;
}

input {
    background-color: #fee7c8;
    height: 25px;
    margin-top: 7px;
    border: 0;
    font-size: 1em;
    font-family: "Montserrat";
}

textarea {
    background-color: #fee7c8;
    border: 1px solid;
    border-color: #8db785;
    margin-top: 7px;
    font-size: 1em;
    height: 100px;
    resize: none;
    font-family: "Montserrat";
}

/* Centers the placeholder text in the message field*/
#placeholder {
    text-align: center;
}

.submit-button {
    width: 50%;
    margin: auto;
    height: 2rem;
    font-weight: bold;
    color: #d66d50;
}

/*PERSISTENT FOOTER STYLING*/

footer {
    padding-top: 20px;
    font-size: 12px;
    text-align: center;
}

.linkedin-icon {
    font-size: 50px;
    display: flex;
    justify-content: center;
}

/*STYLING IF SCREEN IS SMALLER THAN 650PX */
@media screen and (max-width: 650px) {
    .side-nav-list {
        background-color: #fee7c8;
        display: flex;
        padding-top: 0;
        width: 100vw;
        flex-direction: row;
        justify-content: space-evenly;
        font-weight: bolder;
    }
    
    .nav-link {
        text-align: center;

    }
    
    a:link, a:visited {
        text-decoration: none;
        color: #d35110;
    }
    
    a:hover {
        text-decoration: underline
    }

    .main-home, .main-about, .main-portfolio, .main-contact {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .bio-pic {
        width: 70vw;
    }

    .home-text, .about-text, .portfolio-text {
        width: 70vw;
        margin: auto;
    }

    form {
        margin: auto;

    }
}